<% flash.each  do |flash_type, message| %>
	<%= content_tag :div, nil, class: bootstrap_class_for(flash_type), role: 'alert' do  %>
		<%= content_tag :div, class: 'container' do %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			<%= message %>
		<% end %>
	<% end %>
<% end %>
